.ave-landing-page {
    height: 100vh;
    width: 100%;
    background: url("../../assets/images/png/LandingPage.png");
    object-fit: cover;
}

.ave-dashboard-content {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ave-dashboard-title {
    width: 60%;
    font-size: 78px;
    font-weight: 900;
    top: 20%;
    text-align: center;
    color: var(--ave-color-white);
    text-shadow: 1px 2px 3px var(--ave-color-black);
}

.ave-dashboard-btn {
    backdrop-filter: blur(3px);
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.05);
    opacity: 1;
    border-radius: 15px;
    padding: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.ave-dashboard-btn-submit-field {
    background: var(--ave-gradient-purple);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}