@import url("ave-global-root.css");

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-Bold.eot");
  src: url("./assets/webfonts/Supreme-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-Bold.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-Bold.woff") format("woff"),
    url("./assets/webfonts/Supreme-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-Extralight.eot");
  src: url("./assets/webfonts/Supreme-Extralight.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-Extralight.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-Extralight.woff") format("woff"),
    url("./assets/webfonts/Supreme-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-ExtralightItalic.eot");
  src: url("./assets/webfonts/Supreme-ExtralightItalic.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-ExtralightItalic.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-ExtralightItalic.woff") format("woff"),
    url("./assets/webfonts/Supreme-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-Italic.eot");
  src: url("./assets/webfonts/Supreme-Italic.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-Italic.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-Italic.woff") format("woff"),
    url("./assets/webfonts/Supreme-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-BoldItalic.eot");
  src: url("./assets/webfonts/Supreme-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-BoldItalic.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-BoldItalic.woff") format("woff"),
    url("./assets/webfonts/Supreme-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-MediumItalic.eot");
  src: url("./assets/webfonts/Supreme-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-MediumItalic.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-MediumItalic.woff") format("woff"),
    url("./assets/webfonts/Supreme-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-Thin.eot");
  src: url("./assets/webfonts/Supreme-Thin.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-Thin.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-Thin.woff") format("woff"),
    url("./assets/webfonts/Supreme-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-LightItalic.eot");
  src: url("./assets/webfonts/Supreme-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-LightItalic.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-LightItalic.woff") format("woff"),
    url("./assets/webfonts/Supreme-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-ThinItalic.eot");
  src: url("./assets/webfonts/Supreme-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-ThinItalic.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-ThinItalic.woff") format("woff"),
    url("./assets/webfonts/Supreme-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-Light.eot");
  src: url("./assets/webfonts/Supreme-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-Light.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-Light.woff") format("woff"),
    url("./assets/webfonts/Supreme-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-Regular.eot");
  src: url("./assets/webfonts/Supreme-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-Regular.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-Regular.woff") format("woff"),
    url("./assets/webfonts/Supreme-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-Medium.eot");
  src: url("./assets/webfonts/Supreme-Medium.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-Medium.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-Medium.woff") format("woff"),
    url("./assets/webfonts/Supreme-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-ExtraboldItalic.eot");
  src: url("./assets/webfonts/Supreme-ExtraboldItalic.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-ExtraboldItalic.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-ExtraboldItalic.woff") format("woff"),
    url("./assets/webfonts/Supreme-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Supreme";
  src: url("./assets/webfonts/Supreme-Extrabold.eot");
  src: url("./assets/webfonts/Supreme-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("./assets/webfonts/Supreme-Extrabold.woff2") format("woff2"),
    url("./assets/webfonts/Supreme-Extrabold.woff") format("woff"),
    url("./assets/webfonts/Supreme-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Supreme";
}

.App {
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ave-sidebar-active {
  background: red;
}

.ave-body {
  position: absolute;
  height: calc(100vh - 64px);
  overflow-y: auto;
  top: 64px;
  width: -webkit-fill-available;
}

.av-notify-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.av-notify-mulltistep {
  width: 700px;
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}

/* .av-notify-steppper {
  width: 70%;
} */
.av-notify-step {
  /* margin-top: 2rem; */
}

.av-notify-textField {
  margin: 8px;
  width: 100%;
}

.av-notify-placeholder {
  margin-top: 3rem;
}

.av-notify-dynamic-template {
  margin: 1.5rem 0.5rem;
  font-size: 16x;
  font-weight: 600;

}

.ave-send-notification-submit {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}