@import url("ave-global-root.css");

.App {
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.av-notify-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.av-notify-mulltistep {
  width: 500px;
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}

/* .av-notify-steppper {
  width: 70%;
} */
.av-notify-step {
  /* margin-top: 2rem; */
}

.av-notify-textField {
  margin: 8px;
  width: 100%;
}

.av-notify-placeholder {
  margin-top: 3rem;
}

.av-notify-dynamic-template {
  margin: 1.5rem 0.5rem;
  font-size: 16x;
  font-weight: 600;

}

.ave-send-notification-submit {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}